@model EncantosSalao.Web.VisaoModelos.Saloes.SaloesListaVisaoModelo
@{
    this.ViewData["Title"] = "Salons";
}

<h2>
    All Salons (@Model.Saloes.Count())
    <span>
        <a class="btn btn-info" asp-area="Administracao" asp-controller="Saloes" asp-action="AddSalon">Adiciona Novo Salão</a>
    </span>
</h2>

<table class="table table-bordered table-striped">
    <thead class="thead-light">
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Imagem</th>
            <th scope="col">Categoria</th>
            <th scope="col">Cidade</th>
            <th scope="col">Endereço</th>
            <th scope="col">Avaliação</th>
            <th scope="col">Agendamentos</th>
            <th scope="col">Botão Excluir</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var salao in this.Model.Saloes)
        {
            <tr>
                <th scope="row">@salao.Nome</th>
                <td>
                    <img class="align-self-center" src="@salao.UrlImagem" style="width:180px;height:120px;">
                </td>
                <td>@salao.NomeCategoria</td>
                <td>@salao.NomeCidade</td>
                <td>@salao.Endereco</td>
                <td><strong>@salao.Avaliacao.ToString("F") / 5.00</strong> a partir <strong>@salao.ContadorAvaliadores</strong> votos</td>
                <td>@salao.ContadorAgendamntos</td>
                <td>
                    @if (salao.Id.StartsWith("semeado"))
                    {
                        <div class="text-muted" style="font-size:smaller">
                            Dado <br />não pode ser excluido
                        </div>
                    }
                    else
                    {
                        <form method="post">
                            <button type="submit" class="btn btn-danger btn-sm"
                                    asp-area="Administracao" asp-controller="Saloes" asp-action="DeleteSalon" asp-route-id="@salao.Id">
                                Exclui
                            </button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
