@model EncantosSalao.Web.VisaoModelos.Agendamentos.AgendamentosListaVisaoModelo
@{
    this.ViewData["Title"] = "Default";
}

@if (@Model.Agendamentos.Count() > 0)
{
    <h2>Past (@Model.Agendamentos.Count())</h2>

    <table class="table table-bordered table-striped">
        <thead class="thead-light">
            <tr>
                <th scope="col">Data e Hora</th>
                <th scope="col">Salão</th>
                <th scope="col">Endereço</th>
                <th scope="col">Serviço</th>
                <th scope="col">Avaliação Salão</th>
                <th scope="col">Agende Novamente</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var agendamento in this.Model.Agendamentos)
            {
                <tr>
                    <th scope="row">@agendamento.DataHora</th>
                    <td>@agendamento.NomeSalao</td>
                    <td>@agendamento.NomeCidadeSalao, @agendamento.EnderecoSalao</td>
                    <td>@agendamento.NomeServico</td>
                    <td>
                        @if (agendamento.EstaSalaoAvaliadoPeloUsuario == true)
                        {
                            <p>Already Rated!</p>
                        }
                        else
                        {
                            <a class="btn btn-outline-success btn-sm"
                               asp-area="" asp-controller="Agendamentos" asp-action="AvalieUltimoAgendamento" asp-route-id="@agendamento.Id">
                                Avalie o Salão
                            </a>
                        }
                    </td>
                    <td>
                        <div class="button elements_button">
                            <a asp-area="" asp-controller="Agendamentos" asp-action="FacaUmAgendamento" asp-route-salonId="@agendamento.IdSalao" asp-route-serviceId="@agendamento.IdServico">
                                <span>agende novamente</span><span>agende novamente</span>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
