@model EncantosSalao.Web.VisaoModelos.Agendamentos.AgendamentoAvaliacaoVisaoModelo
@{
    this.ViewData["Title"] = "Avaliacao Agendamento Anterior";
}

@if (Model.EstaSalaoAvaliadoPeloUsuario == true)
{
    <h3>Voce ja avaliou este Salao para este agendamento!</h3>

    <div class="pt-3">
        <a class="btn btn-info" asp-area="" asp-controller="Agendamentos" asp-action="Index">
            Retorne para os agendamentos
        </a>
    </div>
}
else
{
    <div class="row row-eq-height">
        <!-- Info Box -->
        <div class="col-lg-4 info_box_col">
            <div class="info_box">
                <div class="info_image"><img src="@Model.UrlImagemSalao" alt=""></div>
                <div class="info_content">
                    <div class="info_title">@Model.NomeSalao</div>
                    <div class="info_text">Categoria: <strong>@Model.NomeCategoriaSalao</strong></div>
                    <div class="info_text">Cidade: <strong>@Model.NomeCidadeSalao</strong></div>
                    <div class="info_text">Endereço: <strong>@Model.EnderecoSalao</strong></div>
                </div>
            </div>
        </div>
        <!-- Panel -->
        <div class="col-lg-6">
            <h2>
                Como você avaliaria
                <br />sua experiência neste salão:
            </h2>
            <div class="col-lg-6">
                <form method="post">
                    <div class="row my-3">
                        <p>Escolha aqui:</p>
                    </div>
                    <div class="row my-3">
                        <div class="star-rating">
                            <span class="fa fa-star-o" data-rating="1"></span>
                            <span class="fa fa-star-o" data-rating="2"></span>
                            <span class="fa fa-star-o" data-rating="3"></span>
                            <span class="fa fa-star-o" data-rating="4"></span>
                            <span class="fa fa-star-o" data-rating="5"></span>
                            <input type="hidden" class="rating-value form-control form-control-sm" id="selectedRating" value="0.0" />
                            <input type="number" class="form-control form-control-sm disabled" value="0"
                                   asp-for="@Model.ValorAvaliado" required readonly />
                            <span asp-validation-for="ValorAvaliado" class="text-danger"></span>
                        </div>
                    </div>
                    <div>
                        <input asp-for="@Model.IdSalao" value="@Model.IdSalao" class="form-control" hidden>
                        <input asp-for="@Model.Id" value="@Model.Id" class="form-control" hidden>
                    </div>
                    <div class="row my-3">
                        <button type="submit" class="btn btn-outline-success"
                                asp-area="" asp-controller="Agendamentos" asp-action="AvaliacaoSalao">
                            Avaliado!
                        </button>
                    </div>
                    <div class="row my-3">
                        <div>
                            <a class="btn btn-outline-dark" asp-area="" asp-controller="Agendamentos" asp-action="Index">
                                Agora não
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script src="~/js/rating-responsive.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $.validator.setDefaults({
            ignore: ""
        })
    </script>
}
